/node_modules
/public/hot
/public/build
/public/docs/
/public/js/
/public/css/
/public/resources/
/public/build/
/public/vendor/
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
