# For more information: https://laravel.com/docs/sail
version: '3.9'

services:

    junges:
        build:
            args:
                USER_ID: ${CUR_USER_ID:-10000}
                GROUP_ID: ${CUR_GROUP_ID:-10001}
                USER_NAME: ${CUR_USER_NAME:-nonroot}
                PHP_VERSION: ${PHP_VERSION:-8.1-fpm}
            context: ./
            dockerfile: ./.docker/app/Dockerfile
        image: junges-dev-web-app
        container_name: junges
        restart: unless-stopped
        working_dir: /var/www/
        depends_on:
            - nginx
            - db-junges-dev
            - redis-junges-dev
        environment:
            XDEBUG_MODE: ${XDEBUG_MODE:-off}
        volumes:
            - ./:/var/www:delegated
            - ./.docker/app/config/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini:ro,cached
            - ./.docker/app/config/php/local.ini:/usr/local/etc/php/conf.d/local.ini:ro,cached
            - ./.docker/app/config/php/opcache.ini:/usr/local/etc/php/conf.d/opcache.ini:ro,cached
            - ./.docker/app/config/php/zz-www.conf:/usr/local/etc/php-fpm.d/zz-www.conf:ro,cached
            - ./.docker/app/config/composer/auth.json:/home/${CUR_USER_NAME:-nonroot}/.composer/auth.json:cached
            - ./.docker/app/data/composer/cache:/home/${CUR_USER_NAME:-nonroot}/.composer/cache
            - /tmp/docker-xdebug:/tmp/docker-xdebug:rw,cached
        networks:
            - junges-dev-web-app-network

    db-junges-dev:
        image: mysql:8.0.28-oracle
        command: --explicit_defaults_for_timestamp --lower_case_table_names=1
        container_name: db-junges-dev
        restart: unless-stopped
        healthcheck:
            test: ['CMD', 'mysqladmin', '-u$DB_USERNAME', '-p$DB_PASSWORD',  'ping', '-h', 'localhost']
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        ports:
            - ${FORWARD_DB_PORT:-33060}:3306
        volumes:
            - ./.docker/mysql/config/my.cnf:/etc/mysql/my.cnf:ro,cached
            - ./.docker/mysql/config/initdb:/docker-entrypoint-initdb.d:cached
            - mysql-data:/var/lib/mysql:delegated
        networks:
            - junges-dev-web-app-network
        stop_grace_period: 2m

    db-junges-dev-tests:
        image: mysql:8.0.28-oracle
        command: --explicit_defaults_for_timestamp --lower_case_table_names=1
        container_name: db-junges-dev-tests
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        ports:
            - ${FORWARD_TEST_DB_PORT:-33062}:3306
        volumes:
            - ./.docker/mysql-tests/config/initdb:/docker-entrypoint-initdb.d:cached
            - mysql-tests-data:/var/lib/mysql:delegated
        networks:
            - junges-dev-web-app-network

    redis-junges-dev:
        image: redis:5-alpine
        container_name: redis-junges-dev
        restart: unless-stopped
        healthcheck:
            test: redis-cli ping
        ports:
            - ${FORWARD_REDIS_PORT:-6379}:6379
        volumes:
            - ./.docker/redis/config/redis.conf:/usr/local/etc/redis/redis.conf:ro,cached
            - ./.docker/redis/data:/data:delegated
        networks:
            - junges-dev-web-app-network

    nginx:
        image: nginx:stable-alpine
        container_name: nginx
        restart: unless-stopped
        environment:
            WWWUSER: ${WWWUSER:-unicorn}
            APP_DOMAIN: ${APP_DOMAIN:-localhost}
            DOCUMENT_ROOT: '/var/www'
        ports:
            - ${FORWARD_HTTP_PORT:-8000}:80
            - ${FORWARD_HTTPS_PORT:-4430}:443
        volumes:
            - ./:/var/www:delegated
            - .docker/nginx/config/templates:/etc/nginx/templates:ro,cached
            - .docker/nginx/data/logs:/var/log/nginx:delegated
            - .docker/nginx/data/cache:/var/cache/nginx:delegated
            - .docker/nginx/data/run:/var/run:delegated
        networks:
            - junges-dev-web-app-network

    front-junges-dev:
        image: node:lts-alpine
        container_name: front-junges-dev
        restart: unless-stopped
        tty: true
        working_dir: /app
        volumes:
            - ./:/junges:delegated
        networks:
            - junges-dev-web-app-network

networks:
    junges-dev-web-app-network:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 192.168.221.0/28

volumes:
    mysql-tests-data:
        driver: local
    mysql-data:
        driver: local

# TODO:
# dusk tests
