@charset 'UTF-8';

@import "./bootstrap.css";

@import "./components/comments.css";
@import "./components/shiki.css";
@import "./components/button.css";
@import "./components/carbon.css";
@import "./components/markup.css";
@import "./components/mobile-menu.css";
@import "./components/pagination.css";
@import "./utilties.css";
@import "./components/forms.css";

@import "./utilities/wrap.css";
@import "./utilities/icon.css";
@import "./utilities/markup-docs.css";
@import "./utilities/select.css";
@import "./utilities/title.css";
@import "./utilities/links.css";
@import "./utilities/banner.css";

@tailwind base
@tailwind components;
@tailwind utilities;
