@charset 'UTF-8';

@import "./bootstrap.css";

@import "./components/comments.css";
@import "./components/shiki.css";
@import "./components/button.css";
@import "./components/carbon.css";
@import "./components/markup.css";
@import "./components/mobile-menu.css";
@import "./components/pagination.css";
@import "./utilties.css";
@import "./components/forms.css";

@import "./utilities/wrap.css";
@import "./utilities/icon.css";
@import "./utilities/markup-docs.css";
@import "./utilities/highlighting.css";
@import "./utilities/select.css";
@import "./utilities/title.css";
@import "./utilities/links.css";
@import "./utilities/banner.css";
@import "./utilities/blockquote.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --bunker-50: #f3f6fa;
    --bunker-100: #d6e3f1;
    --bunker-200: #acc6e3;
    --bunker-300: #7b9ecd;
    --bunker-400: #4f76b2;
    --bunker-500: #355a97;
    --bunker-600: #294578;
    --bunker-700: #243961;
    --bunker-800: #21304e;
    --bunker-900: #080b11;
}
