pre[class*="shiki"] {
    position: relative;
    margin: 5px 0;
}

.markup-docs > pre > .button-copy-code {
    @apply rounded;
    @apply bg-bunker-200;
    @apply py-2 px-2;
    position: absolute;
    top: 10px;
    right: 10px;
}

.markup-docs > pre > .button-copy-code:hover {
    @apply border border-bunker-400;
    @apply bg-bunker-200;
}

.markup-docs > pre > .button-copy-code:focus {
    @apply bg-bunker-200;
}

.copy-docs-icon {
    fill: var(--bunker-800);
}

.docs-copied-icon {
    fill: #148a25 !important;
}

@screen sm {
    .markup-docs > pre > .button-copy-code {
        top: 15px;
        right: 15px;
    }
}
