name: Run tests

on: [push]

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    steps:
      -   uses: actions/checkout@v2

      -   name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: '8.1'
            extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
            coverage: none

      -   name: create db
          run: |
            sudo /etc/init.d/mysql start
            mysql  -u root -proot -e 'CREATE DATABASE IF NOT EXISTS junges_dev;'
      -   name: Cache yarn dependencies
          uses: actions/cache@v2
          with:
            path: node_modules
            key: yarn-${{ hashFiles('yarn.lock') }}

      -   name: Run composer install
          run: composer install -n --prefer-dist
          env:
            COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}

      - name: Run yarn
        run: yarn && yarn build

      -   name: Prepare Laravel Application
          run: |
            cp .env.testing .env
            php artisan key:generate

      -   name: Migrate database
          run: php artisan migrate --seed --env=testing-ci
      -   name: Run tests
          run: ./vendor/bin/phpunit --configuration phpunit-ci.xml
          env:
            DB_PASSWORD: root
            REDIS_PORT: ${{ job.services.redis.ports[6379] }}
